<div class="main-div">
    <div class="logo">
        <h1>Sale2Store</h1>
    </div>

    <div class="logo">
        <a class="tabs" [routerLink]="['/users']">
            <h3>Users</h3>
        </a>
        <a class="tabs" [routerLink]="['/category']">
            <h3>Category</h3>
        </a>
        <a class="tabs" [routerLink]="['/products']">
            <h3>Product</h3>
        </a>
        <a class="tabs" href="">
            <h3>Order</h3>
        </a>
        <a class="tabs" href="">
            <h3>Products</h3>
        </a>
        <button mat-flat-button color="primary" class="lgt_btn" (click)="logout()">Logout</button>

    </div>
</div>