.bnr_hd{
    text-align: center;
    align-items: center;
}
.products{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.product{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
