<main>
    <div class="petz-header">
    </div>
    <div class="home-banner">
        <div class="container h100">
            <div class="hb_wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bnr_left">
                            <div class="bnr_hd">
                                <h1>
                                    <span>Learning Courses </span>
                                    <span>by Top Instructors </span>
                                </h1>
                            </div>
                            <div class="bnr_hd">
                                <p>Choose from over 4.000 courses on topics like Web Design, Web Development, Mobile
                                    Development, and much more
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 bnr_hd">
                        <div class="bnr_right">
                            <img src="https://img.freepik.com/premium-vector/dark-theme-mockup-realistic-smartphone-with-green-gradient-screen-stylish-design-website-advertisement-vector-illustration_541075-613.jpg?size=626&ext=jpg&ga=GA1.1.1627233130.1683269457&semt=ais"
                                alt="" />
                        </div>
                    </div>
                    <div class="scrch bnr_hd">
                        <div class="srch_in">
                            <input type="text" id="" placeholder="search" />
                            <button>Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="course_list">
        <div class="container">
            <div class="cl_hd bnr_hd">
                <h2>Categories</h2>
                <p>Find technologies from categories</p>
            </div>



            <div class=''>
                <div class="col-lg-4 cs_col product">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>

                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>

                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all_courses">
                <div class="row">
                </div>
            </div>
        </div>
    </div>




    <div class="course_list">
        <div class="container">
            <div class="cl_hd bnr_hd">
                <h2>Products</h2>
                <p>The products that lead to the technologies...</p>
            </div>

            <div class='products'>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 cs_col">
                    <div class="cs_col_in">
                        <div class="cs_img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTVAq0pwQV1a5oyLfCwR99_VDSVTD5tqAULRQxQv18&s"
                                alt="" />
                        </div>
                        <div class="stars_item">
                            <div class="star_left">
                                <span>Mobile</span>
                            </div>

                        </div>
                        <div class="cs_hd">
                            <h2>Iphone 15</h2>
                        </div>
                        <div class="cs_btn">
                            <button mat-raised-button color="primary">Add to cart</button>
                        </div>
                    </div>
                </div>


            </div>





            <div class="all_courses">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</main>